@font-face {
	font-family: Nunito;
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/nunito/Nunito-Regular.ttf);
}

@font-face {
	font-family: Nunito;
	font-style: normal;
	font-weight: 500;
	src: url(../fonts/nunito/Nunito-Medium.ttf);
}

@font-face {
	font-family: Nunito;
	font-style: normal;
	font-weight: 600;
	src: url(../fonts/nunito/Nunito-SemiBold.ttf);
}

body,
html {
    min-height: 100%;
}

body {
    font-family: 'Nunito', sans-serif;
    background: #f9fbfd;
}

h1, h2, h3, h4 h5, h6 {
    font-weight: 600;
}

.text-secondary {
    color: #95aac9 !important;
}

#header {
    border-bottom: 1px solid #e3ebf6;
}

#brand-icon {
    height: 40px;
    width: auto;
}

#brand-name {
    margin-left: 10px;
}

/*
#sidebar {
    position: relative;
    top: 0;
    height: calc(100vh - 73px);
    padding: 1rem 1.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    border-left: 1px solid #e3ebf6;
}
*/

.sidebar-heading {
    padding: 1rem 1.5rem;
}

.sidebar-content {
    padding: 0px 1.5rem;
}

.sidebar-heading h6 {
    margin-bottom: 0;
    line-height: 40px;
}

footer .footer-powered-by {
    margin-top: auto;
    font-size: .875rem;
    line-height: 1.5;
    padding: 1rem 0;
}

.card {
    border-color: #edf2f9;
    box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
}

.card-header {
    background: transparent;
    border-bottom: 1px solid #edf2f9;
}

.card-header h6 {
    margin-bottom: 0;
}

.card-header .icon {
    color: #95aac9;
}

.card-chart {
  position: relative;
  margin: auto;
  padding: 1.25rem;
  height: auto;
  width: 100%;
  background-color: #12263f;
}

.data-wrapper {
    text-align: left;
    font-size: 14px;
}

.data-type {
    color: #95aac9;
}

.data-value {
    text-align: right;
    font-weight: 600;
}

.data-unit {
    color: #95aac9;
    padding-left: 0;
}

.icon {
    color: #6e84a3;
}

.icon-btn {
    cursor: pointer;
    padding: 4px;
}

.icon-btn:hover {
    color: #12263f;
}

.text-secondary {
    color: #95aac9;
}

.col-form-label-sm {
    padding-bottom: 0px;
}

.sheet {
    -moz-transition: -moz-transform .4s;
    -o-transition: -o-transform .4s;
    -webkit-transition: -webkit-transform .4s;
    transition: transform .4s;
    box-shadow: 0 0 10px -5px rgb(0 0 0 / 20%), 0 0 24px 2px rgb(0 0 0 / 14%), 0 0 30px 5px rgb(0 0 0 / 12%);
    flex-direction: column;
    display: flex;
    flex-wrap: nowrap;
    /*background: #f1f3f4;*/
    background: #fff;
    bottom: 0;
    right: 0;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 300px;
    margin-right: -300px;
    z-index: 41;
}

.sheet-active {
    transform: translate(-300px, 0px);
}

.sheet-overlay {
    opacity: 0;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    -webkit-transition: all .4s;
    transition: all .4s;
    background: #000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 41;
}

.sheet-overlay-active {
    opacity: 0.32;
    visibility: visible;
}