@font-face {
	font-family: Nunito;
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/nunito/Nunito-Regular.ttf);
}

@font-face {
	font-family: Nunito;
	font-style: normal;
	font-weight: 500;
	src: url(../fonts/nunito/Nunito-Medium.ttf);
}

@font-face {
	font-family: Nunito;
	font-style: normal;
	font-weight: 600;
	src: url(../fonts/nunito/Nunito-SemiBold.ttf);
}

body,
html {
  height: 100%;
}

body {
    font-family: 'Nunito', sans-serif;
}

main {
    background: #f9fbfd;
}

h1, h2, h3, h4 h5, h6 {
    font-weight: 600;
}

.text-secondary {
    color: #95aac9 !important;
}

#header {
    border-bottom: 1px solid #e3ebf6;
}

#brand-icon {
    height: 40px;
    width: auto;
}

#brand-name {
    margin-left: 10px;
}

#sidebar {
    position: relative;
    top: 0;
    height: calc(100vh - 73px);
    padding: 1rem 1.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    border-left: 1px solid #e3ebf6;
}

.sidebar-heading h6 {
    margin-bottom: 0;
}

.sidebar-footer {
    margin-top: auto;
    font-size: .875rem;
    line-height: 1.5;
}

.card {
    border-color: #edf2f9;
    box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
}

.card-header {
    background: transparent;
    border-bottom: 1px solid #edf2f9;
}

.card-header h6 {
    margin-bottom: 0;
}

.data-wrapper {
    padding-top: 20px;
    text-align: left;
    font-size: 12px;
}

.data-type {
    color: #95aac9;
}

.data-value {
    text-align: right;
    font-weight: 600;
}

.data-unit {
    color: #95aac9;
    padding-left: 0;
}

.icon {
    color: #6e84a3;
}

.icon-btn {
    cursor: pointer;
}

.icon-btn:hover {
    color: #12263f;
}

.col-form-label-sm {
    padding-bottom: 0px;
}